.ken, .fireball {
  position: absolute;
  bottom: 112px;
  margin-left: 90px;
  width: 70px;
  height: 80px;
  background-image:
  url(../images/ken.png);
  transform: scale(2);
  -webkit-image-rendering: pixelated; -moz-image-rendering: pixelated; -ms-image-rendering: pixelated; image-rendering: pixelated;
}

.ken:before, .fireball:before {
  content: '';
  z-index: -1;
  position: absolute;
  bottom: -2px;
  left: 17px; right: 17px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%;
  -webkit-box-shadow: 0 0 5px; -moz-box-shadow: 0 0 5px; -ms-box-shadow: 0 0 5px; box-shadow: 0 0 5px;
}

/* ken's fireball */
.fireball {
  position: absolute;
  left: 100%;
  bottom: 0px;
  margin-left: 0;
  background-position: 140px 320px;
  -webkit-transition: margin 6s linear; -moz-transition: margin 6s linear; -ms-transition: margin 6s linear; transition: margin 6s linear;
  -webkit-animation: fireball steps(2) 0.15s infinite; -moz-animation: fireball steps(2) 0.15s infinite; -ms-animation: fireball steps(2) 0.15s infinite; animation: fireball steps(2) 0.15s infinite;
}

.fireball:before {
  left: 25px; right: 25px;
}

.fireball.moving {
  margin-left: 2000px;
}

.flip {
  -webkit-transform: scale(-2,2); -moz-transform: scale(-2,2); -ms-transform: scale(-2,2); transform: scale(-2,2);
}

@-webkit-keyframes fireball { from { background-position: 0px -320px; }
  to { background-position: -140px -320px; } }

@-moz-keyframes fireball { from { background-position: 0px -320px; }
  to { background-position: -140px -320px; } }

@-ms-keyframes fireball { from { background-position: 0px -320px; }
  to { background-position: -140px -320px; } }

@keyframes fireball { from { background-position: 0px -320px; }
  to { background-position: -140px -320px; } }

/* ken's fireball impact explosion */
.explode { -webkit-animation: explode steps(4) 0.5s 1; -moz-animation: explode steps(4) 0.5s 1; -ms-animation: explode steps(4) 0.5s 1; animation: explode steps(4) 0.5s 1; }

@-webkit-keyframes explode { from { background-position: 0px -400px; }
  to { background-position: -280px -400px; } }

@-moz-keyframes explode { from { background-position: 0px -400px; }
  to { background-position: -280px -400px; } }

@-ms-keyframes explode { from { background-position: 0px -400px; }
  to { background-position: -280px -400px; } }

@keyframes explode { from { background-position: 0px -400px; }
  to { background-position: -280px -400px; } }

/* ken-stance */
.ken-stance { -webkit-animation: ken-stance steps(4) 0.5s infinite; -moz-animation: ken-stance steps(4) 0.5s infinite; -ms-animation: ken-stance steps(4) 0.5s infinite; animation: ken-stance steps(4) 0.5s infinite; }

@-webkit-keyframes ken-stance { from { background-position: 0px -80px; }
  to { background-position: -280px -80px; } }

@-moz-keyframes ken-stance { from { background-position: 0px -80px; }
  to { background-position: -280px -80px; } }

@-ms-keyframes ken-stance { from { background-position: 0px -80px; }
  to { background-position: -280px -80px; } }

@keyframes ken-stance { from { background-position: 0px -80px; }
  to { background-position: -280px -80px; } }

/* hadoken - must be declared AFTER .ken-stance */
.hadoken { -webkit-animation: hadoken steps(4) 0.5s infinite; -moz-animation: hadoken steps(4) 0.5s infinite; -ms-animation: hadoken steps(4) 0.5s infinite; animation: hadoken steps(4) 0.5s infinite; }

@-webkit-keyframes hadoken { from { background-position: 0px 0px; }
  to { background-position: -280px 0px; } }

@-moz-keyframes hadoken { from { background-position: 0px 0px; }
  to { background-position: -280px 0px; } }

@-ms-keyframes hadoken { from { background-position: 0px 0px; }
  to { background-position: -280px 0px; } }

@keyframes hadoken { from { background-position: 0px 0px; }
  to { background-position: -280px 0px; } }

/* ken-punch */
.ken-punch { -webkit-animation: ken-punch steps(3) 0.15s infinite; -moz-animation: ken-punch steps(3) 0.15s infinite; -ms-animation: ken-punch steps(3) 0.15s infinite; animation: ken-punch steps(3) 0.15s infinite; }

@-webkit-keyframes ken-punch { from { background-position: 0px -160px; }
  to { background-position: -210px -160px; } }

@-moz-keyframes ken-punch { from { background-position: 0px -160px; }
  to { background-position: -210px -160px; } }

@-ms-keyframes ken-punch { from { background-position: 0px -160px; }
  to { background-position: -210px -160px; } }

@keyframes ken-punch { from { background-position: 0px -160px; }
  to { background-position: -210px -160px; } }

/* ken-walking */
.ken-walk { -webkit-animation: ken-walk steps(5) 0.5s infinite; -moz-animation: ken-walk steps(5) 0.5s infinite; -ms-animation: ken-walk steps(5) 0.5s infinite; animation: ken-walk steps(5) 0.5s infinite; }

@-webkit-keyframes ken-walk { from { background-position: 0px -240px; }
  to { background-position: -350px -240px; } }

@-moz-keyframes ken-walk { from { background-position: 0px -240px; }
  to { background-position: -350px -240px; } }

@-ms-keyframes ken-walk { from { background-position: 0px -240px; }
  to { background-position: -350px -240px; } }

@keyframes ken-walk { from { background-position: 0px -240px; }
  to { background-position: -350px -240px; } }

/* ken-kick */
.ken-kick { -webkit-animation: ken-kick steps(5) 0.5s infinite; -moz-animation: ken-kick steps(5) 0.5s infinite; -ms-animation: ken-kick steps(5) 0.5s infinite; animation: ken-kick steps(5) 0.5s infinite; }

@-webkit-keyframes ken-kick { from { background-position: 0px -480px; }
  to { background-position: -350px -480px; } }

@-moz-keyframes ken-kick { from { background-position: 0px -480px; }
  to { background-position: -350px -480px; } }

@-ms-keyframes ken-kick { from { background-position: 0px -480px; }
  to { background-position: -350px -480px; } }

@keyframes ken-kick { from { background-position: 0px -480px; }
  to { background-position: -350px -480px; } }



/* ken-jump */
.ken-jump { -webkit-transition: bottom 0.5s cubic-bezier(0.99, 0.005, 0, 0.42); -moz-transition: bottom 0.5s cubic-bezier(0.99, 0.005, 0, 0.42); -ms-transition: bottom 0.5s cubic-bezier(0.99, 0.005, 0, 0.42); transition: bottom 0.5s cubic-bezier(0.99, 0.005, 0, 0.42); bottom: 225px; -webkit-animation: ken-jump steps(7) 1s infinite; -moz-animation: ken-jump steps(7) 1s infinite; -ms-animation: ken-jump steps(7) 1s infinite; animation: ken-jump steps(7) 1s infinite; }
.ken-jump.down { bottom: 112px; }

@-webkit-keyframes ken-jump { from { background-position: 0px -640px; }
  to { background-position: -490px -640px; } }

@-moz-keyframes ken-jump { from { background-position: 0px -640px; }
  to { background-position: -490px -640px; } }

@-ms-keyframes ken-jump { from { background-position: 0px -640px; }
  to { background-position: -490px -640px; } }

@keyframes ken-jump { from { background-position: 0px -640px; }
  to { background-position: -490px -640px; } }
